@font-face {
  font-family: "Josefin";
  src: url(/fonts/JosefinSans-VariableFont_wght.ttf),
    url(fonts/JosefinSans-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Gilroy-light";
  src: url(/fonts/gilroy-light-webfont.woff),
    url(fonts/gilroy-light-webfont.woff2);
}

@font-face {
  font-family: "Gilroy-bold";
  src: url(/fonts/gilroy-extrabold-webfont.woff),
    url(fonts/gilroy-extrabold-webfont.woff2);
}

:root {
  --color-font-titles: #669c8e;
  --color-bg-form: #f3f6fb;
  --color-text-light: #9aa5b5c9;
  --color-text-dark: rgb(0, 0, 0);
  --color-error: #ff7140;
  --color-validation: #89aeae;

  --ff-titles: "Gilroy-bold", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin", sans-serif;
}

.full-content {
  height: 100%;
  display: grid;
  grid-template-columns: 300px 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

h1,
h2,
h3 {
  font-family: var(--ff-titles);
}

.main-nav {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  font-family: var(--ff-titles);
  padding: 20px 50px;
}

.main-nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 2rem;
  margin-top: 30px;
  font-size: 1.2rem;
}

.main-nav ul a {
  text-decoration: none;
  color: var(--color-text-light);
  opacity: 0.5;
  padding: 8px 20px;
}

.main-nav ul a:hover {
  color: var(--color-font-titles);
  opacity: 1;
  background-color: var(--color-font-titles);
  color: white;
  border-radius: 20px;
}

.logo {
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: var(--color-font-titles);
  position: relative;
  text-transform: uppercase;
}

.logo::before {
  content: ".";
  font-size: 200px;
  margin-right: 5px;
  position: absolute;
  top: -160px;
  left: 0px;
}

.weekly-reminder {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.37);
  padding: 20px 50px;
  margin: 2vh 0;
  border-radius: 20px;
  background-color: var(--color-validation);
}
.weekly-emission {
  background-color: white;
  width: 20%;
  text-align: center;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px 50px;
  box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.37);
}

.emission-number {
  font-size: 5rem;
  color: darkgreen;
  font-family: var(--ff-titles);
}

.education-summary {
  grid-column: 3/ 4;
  padding: 0 50px;
  grid-row: 1 / 2;
  background-color: var(--color-validation);
  padding: 20px 50px;
  margin: 2vh 0;
  border-radius: 20px;
}

.random-solution {
  padding: 0 50px;
  background-color: var(--color-validation);
  padding: 20px 50px;
  margin: 2vh 0;
  border-radius: 20px;
}
